-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: aksa_toptan_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `musteriler`
--

DROP TABLE IF EXISTS `musteriler`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `musteriler` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `firma_adi` varchar(255) NOT NULL,
  `kullanici_adi` varchar(50) DEFAULT NULL,
  `sifre` varchar(255) DEFAULT NULL,
  `telefon` varchar(50) DEFAULT NULL,
  `iskonto_orani` decimal(5,2) DEFAULT 0.00,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kullanici_adi` (`kullanici_adi`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `musteriler`
--

LOCK TABLES `musteriler` WRITE;
/*!40000 ALTER TABLE `musteriler` DISABLE KEYS */;
INSERT INTO `musteriler` VALUES (1,'ahmet','ahmet',NULL,'05656776465',12.00),(2,'sinan','asd',NULL,'05645657665',13.00),(3,'Aksa Deneme Firma','demo','$2y$10$5u2egozihZ8bNodyugkhN.D8no6L3gXb6SwL.7WRoG4xkCPUgfzRq','0555 444 33 22',7.00),(4,'Mega Kozmetik','mega','$2y$10$5u2egozihZ8bNodyugkhN.D8no6L3gXb6SwL.7WRoG4xkCPUgfzRq','0532 111 22 33',10.00),(5,'Star Parf├╝meri','star','$2y$10$5u2egozihZ8bNodyugkhN.D8no6L3gXb6SwL.7WRoG4xkCPUgfzRq','0544 555 66 77',15.00);
/*!40000 ALTER TABLE `musteriler` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `siparis_detaylari`
--

DROP TABLE IF EXISTS `siparis_detaylari`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `siparis_detaylari` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `siparis_id` int(11) NOT NULL,
  `urun_kodu` varchar(50) NOT NULL,
  `istenen_kg` decimal(10,2) NOT NULL,
  `eklenen_kg` decimal(10,2) DEFAULT 0.00,
  `teslim_edilen_kg` decimal(10,2) DEFAULT 0.00,
  `kalan_kg` decimal(10,2) NOT NULL,
  `durum` enum('beklemede','tedarik','geldi','tamamlandi','iptal') NOT NULL DEFAULT 'beklemede',
  `teslimat_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `siparis_id` (`siparis_id`),
  KEY `urun_kodu` (`urun_kodu`),
  CONSTRAINT `siparis_detaylari_ibfk_1` FOREIGN KEY (`siparis_id`) REFERENCES `siparisler` (`id`) ON DELETE CASCADE,
  CONSTRAINT `siparis_detaylari_ibfk_2` FOREIGN KEY (`urun_kodu`) REFERENCES `urunler` (`urun_kodu`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=137 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `siparis_detaylari`
--

LOCK TABLES `siparis_detaylari` WRITE;
/*!40000 ALTER TABLE `siparis_detaylari` DISABLE KEYS */;
/*!40000 ALTER TABLE `siparis_detaylari` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `siparisler`
--

DROP TABLE IF EXISTS `siparisler`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `siparisler` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `musteri_id` int(11) NOT NULL,
  `tarih` timestamp NOT NULL DEFAULT current_timestamp(),
  `durum` enum('beklemede','tedarik','geldi','tamamlandi','iptal') DEFAULT 'beklemede',
  `guncellendi` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `musteri_id` (`musteri_id`),
  CONSTRAINT `siparisler_ibfk_1` FOREIGN KEY (`musteri_id`) REFERENCES `musteriler` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `siparisler`
--

LOCK TABLES `siparisler` WRITE;
/*!40000 ALTER TABLE `siparisler` DISABLE KEYS */;
/*!40000 ALTER TABLE `siparisler` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teslimat_detaylari`
--

DROP TABLE IF EXISTS `teslimat_detaylari`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `teslimat_detaylari` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `teslimat_id` int(11) NOT NULL,
  `urun_kodu` varchar(50) NOT NULL,
  `teslim_edilen_kg` decimal(10,2) NOT NULL,
  `birim_usd_fiyat` decimal(10,2) DEFAULT 0.00,
  `iskonto_orani` decimal(5,2) DEFAULT 0.00,
  PRIMARY KEY (`id`),
  KEY `teslimat_id` (`teslimat_id`),
  KEY `urun_kodu` (`urun_kodu`),
  CONSTRAINT `teslimat_detaylari_ibfk_1` FOREIGN KEY (`teslimat_id`) REFERENCES `teslimatlar` (`id`) ON DELETE CASCADE,
  CONSTRAINT `teslimat_detaylari_ibfk_2` FOREIGN KEY (`urun_kodu`) REFERENCES `urunler` (`urun_kodu`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=70 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teslimat_detaylari`
--

LOCK TABLES `teslimat_detaylari` WRITE;
/*!40000 ALTER TABLE `teslimat_detaylari` DISABLE KEYS */;
/*!40000 ALTER TABLE `teslimat_detaylari` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teslimatlar`
--

DROP TABLE IF EXISTS `teslimatlar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `teslimatlar` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `musteri_id` int(11) NOT NULL,
  `olusturma_tarihi` timestamp NOT NULL DEFAULT current_timestamp(),
  `tarih` timestamp NOT NULL DEFAULT current_timestamp(),
  `usd_kuru` decimal(10,4) NOT NULL,
  `toplam_usd` decimal(10,2) NOT NULL,
  `toplam_tl` decimal(10,2) NOT NULL,
  `durum` enum('acik','kapali') DEFAULT 'kapali',
  `notlar` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `musteri_id` (`musteri_id`),
  CONSTRAINT `teslimatlar_ibfk_1` FOREIGN KEY (`musteri_id`) REFERENCES `musteriler` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teslimatlar`
--

LOCK TABLES `teslimatlar` WRITE;
/*!40000 ALTER TABLE `teslimatlar` DISABLE KEYS */;
/*!40000 ALTER TABLE `teslimatlar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `urunler`
--

DROP TABLE IF EXISTS `urunler`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `urunler` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `urun_kodu` varchar(50) NOT NULL,
  `urun_adi` varchar(255) NOT NULL,
  `usd_fiyat` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `urun_kodu` (`urun_kodu`)
) ENGINE=InnoDB AUTO_INCREMENT=470 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `urunler`
--

LOCK TABLES `urunler` WRITE;
/*!40000 ALTER TABLE `urunler` DISABLE KEYS */;
/*!40000 ALTER TABLE `urunler` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-05 12:11:41
